.navigation {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    width: 100%;
    background-color: #0070f3;
    height: 5rem;
    padding: 0 5%;
    min-width: 320px;
    z-index: 200;


}

.mobileMenu {
  display: flex;
  align-items: flex-start;
  font-size: 2rem
  
}


.mobileMenuDropdown {
  
    position:fixed;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    
    background-color: #fff;
   
    height: 100%;
    z-index: 500;
    width: 70%;
    border-right: black solid transparent;
    animation-name: mobileMenuDropdown;
    animation-duration: 500ms;
}

.mobileMenuDropdown a {
    list-style: none;
    color:black;
    margin-bottom: 2rem;
    margin-left: 0;
   
}

.mobileCloseBtn {
   margin-left: 35px; 
   margin-top:20px;
   animation-name: mobileMenuCloseBtnAnimation;
    animation-duration: 250ms;
}

.mobileLinks {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.desktopMenu {
    color: #fff
}
.brandTitle {
    color:#fff
}
.hamburger {
    color:#fff;
    z-index: 400;
    align-self: center;
}



.navigationLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 5rem;
    color: #fff;
    margin: 0;
   
}

.navigationLinks a{
 padding: 1rem;
   
}

.navigationLinks li:hover{
    background-color: grey;
   
}

@media (max-width: 340px) {
    .mobileMenu {
       margin-left:1.5rem;
      
    }
}

@media (max-width: 500px) {
    .navigation {
        padding: 0;
        width: 100%;
    }
    .navigation ul li{
        visibility: hidden;
    }
    .navigation ul a{
       
    }
    .navigation ul form{
        visibility: hidden;
    }
    .navigation h2{
        font-size: 1r;
    }
    .navigation span{
        font-size: 2rem;
        max-width: 5rem;
    }
    .mobileMenu {
        padding-left: 1rem;
        font-size:2.5rem;
    }
    .desktopMenu {
        display: none;
    }
}

@media (min-width: 500px) {
    .navigation {
        justify-content: space-between;
    }
    .mobileMenu {
        display: none;
    }
}

@keyframes mobileMenuDropdown{
  
        0%   {background-color: red;}
        25%  {background-color: yellow;}
 
}

@keyframes mobileMenuCloseBtnAnimation{
  
    0%   {visibility: hidden;}
    25% {visibility: hidden;}
    50% {visibility: hidden;}
    75% {visibility: visible;}

}