
  .homepageContent {
      z-index: 1;
  }
.heroContainer {
    display: flex;
    background-color: white;
    flex-direction: column;
    margin-top: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    
}
.heroContainerText {
    z-index: 1;
}

.heroImage {
    position: relative;
    
}
.heroBtn {
    position: absolute;
    display: flex;
    font-size: 1rem;
    top: 60%;
   left: 60%;
   margin-left: -100px;
   background-color: #0070f3;
   color: #fff;
   align-items: center;
   border-radius: 8%;
   
}

.btnIcon {
   margin-left: 0.5rem;
}

.section2 {
    margin: 0.5rem auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
   
}



.section2_examples_images {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.section2_examples_image {
   
    margin: 0.5rem;
 }




.section3 {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
}

.section4 {
    margin: 0.5rem auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
}

@media (max-width: 350px) {
 .section2_examples_images {
     flex-direction: column;
 }
}


