
.heroSection {
margin-top: 4rem;
}

.heroContainer {
    display: flex;
    background-color: white;
    flex-direction: column;
    margin-top: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    
}
.heroImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroImage {
    position: relative;
    
}
.heroBtn {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    font-size: 1rem;
    border: none;
    padding: 15px 32px;
    margin-left: -100px;
    background-color: #0070f3;
    color: #fff;
   align-items: center;
   border-radius: 5%;
   font-size: 16px;
}

.btnIcon {
   margin-left: 0.5rem;
}

.section2 {
    margin: 0.5rem auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
   
}



.section2_examples_images {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.section2_examples_image {
   
    margin: 0.5rem;
 }




.section3 {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
    padding: 0.5rem 0.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(216, 216, 216);
}

.section4 {
    margin: 0.5rem auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
}

@media (max-width: 350px) {
 .section2_examples_images {
     flex-direction: column;
 }
}


