.content {
    margin: 1rem 1rem  auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 500px) {
    .content {
        height: 100%;
    }
}
